fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt>=4.0.0
python-multipart
python-dotenv
alembic
httpx
openai
groq
qrcode[pil]
